@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-image: url(img/fundo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.txt {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.txt2 {
    font-family: 'Roboto', sans-serif;
    color: #888888;
}

.verde {
    color: #44D62C;
}

a {
    text-decoration: none;
    color: #CCCCCC;
}


header {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    border-bottom: 1px solid #44D62C;
}

#cabecalho {
    height: 100%;
    width: 1050px;
    display: flex;
    align-items: center;
}

#imgLogo {
    height: 40px;
    margin-right: 10px;
}

.txtH {
    color: #FFFFFF;
    font-size: 1em;
}


main {
    width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#principal {
    height: 430px;
    width: 400px;
    background-color: #000000;
    border: 1px solid #252525;
    border-radius: 1px;
    padding: 20px 25px 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt1 {
    margin: 20px 0px 30px 0px;
    font-size: 24px;
    color: #FFFFFF;
    position: relative;
    width: 100%;
}

#div2 {
    width: 100%;
    margin-bottom: 25px;
}

#div3 {
    width: 100%;
    margin-bottom: 45px;
}

#div4 {
    width: 100%;
    margin-bottom: 130px;
}

input {
    height: 45px;
    width: 380px;
    background-color: #000000;
    border: 1px solid #555555;
    padding-left: 16px;
    border-radius: 2px;
}

button {
    height: 45px;
    width: 180px;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
}

#btn1 {
    background-color: #707070;
    margin-right: 15px;
}

#btn2 {
    background-color: #15410D;
    color: #000;
}


footer {
    height: 55px;
    width: 100%;
    background-color: #000000;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#rodape {
    height: 100%;
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
}